.product-card {
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
  }
  button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: #ff7c7c;
  }